@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
  }
.category-scroll::-webkit-scrollbar {
  height: 6px;
}

.category-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.category-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.category-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
body {
  margin: 0;
  background-color: #E6EEF5;
  display: flex;
  justify-content: center;
}
.input-style {
  @apply w-full border-b border-gray-400 py-2 px-1 text-sm focus:outline-none focus:border-blue-500;
}
